[submodule "src/smallclue"]
	path = src/smallclue
	url = https://github.com/emkey1/smallclue.git
[submodule "third-party/SDL"]
	path = third-party/SDL
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "third-party/micro"]
	path = third-party/micro
	url = https://github.com/emkey1/micro.git
[submodule "third-party/dvtm"]
	path = third-party/dvtm
	url = https://github.com/emkey1/dvtm.git
[submodule "third-party/libgit2"]
	path = third-party/libgit2
	url = https://github.com/libgit2/libgit2.git
