[submodule "src/smallclue"]
	path = src/smallclue
	url = https://github.com/emkey1/smallclue.git
[submodule "third-party/SDL"]
	path = third-party/SDL
	url = https://github.com/libsdl-org/SDL_mixer.git
[submodule "third-party/micro"]
	path = third-party/micro
	url = https://github.com/emkey1/micro.git
[submodule "third-party/dvtm"]
	path = third-party/dvtm
	url = https://github.com/emkey1/dvtm.git
[submodule "third-party/libgit2"]
	path = third-party/libgit2
	url = https://github.com/emkey1/libgit2.git
[submodule "third-party/openrsync"]
	path = third-party/openrsync
	url = https://github.com/emkey1/openrsync.git
[submodule "components/clike"]
	path = components/clike
	url = https://github.com/emkey1/clike.git
[submodule "components/pscal-core"]
	path = components/pscal-core
	url = https://github.com/emkey1/pscal-core.git
[submodule "components/rea"]
	path = components/rea
	url = https://github.com/emkey1/rea.git
[submodule "components/aether"]
	path = components/aether
	url = https://github.com/emkey1/aether.git
[submodule "components/pascal"]
	path = components/pascal
	url = https://github.com/emkey1/pascal.git
